{% extends 'templates/landingpage_base.html'%}



{% block content %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>Ethiopian Medical Association
          </h1>
          <h2>dependable physicians for better health</h2>
          <div class="d-flex">
            <a href="#about" class="btn-get-started scrollto">Get Started</a>
            <a href="https://www.youtube.com/watch?v=TKxXi29cKPk" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img"membershipId>
          <img src="assets/em_member/Landing/img/Ema_logo.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-laptop"></i></div>
              {% if logedinMember %}
              <h4 class="title"><a href="">Status - {{logedinMember.member_status }}</a></h4>
              <p class="description">if your status is inactive pleas activate you Membership by paying your due Membership fee!!</p>
              {%else%}
              <h4 class="title"><a href="">Status - Not Registored</a></h4>
              <p class="description">Hello There wellcome to Ethiopian Medical Assosatoin page.please be part of our family by registorring. To Registory press <strong>Getstarted</strong> button and press <strong>Registor!!</strong></p>
              {% endif %}
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
            <div class="icon-box certificate">
              <div class="icon"><i class="bi bi-card-checklist"></i></div>
              <h4 class="title"><a >Certification</a></h4>
              <p class="description">Here you will find list of Certification you acquire and download it</div>
          </div>
          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
            <div class="icon-box membershipId">
              <div class="icon"><i class="bi bi-clipboard-data"></i></div>
              <h4 class="title"><a  >Membership ID</a></h4>
              <p class="description">Here you can see your Membership ID once you registor and Download it</p>
            </div>
          </div>
        </div>
        <div class="showid medapay-hide">
          <a href={{logedinMember.membership_id}}  download="MembershipID">
            <img src={{logedinMember.membership_id}}  alt="MembershipID" />
          </a>
        </div>
        <div class="showcertificatoin medapay-hide">
          <a href={{Certification.content}}  download="Certification">
          <img src={{Certification.content}}  alt="Membership Certification" />
          </a>
        </div>
        
      </div>
    </section><!-- End Featured Services Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">
        {%if logedinMember%}
        <div class="row">
          <div class="col-lg-6">
            {% if logedinMember%}
            <img src={{logedinMember.picture}}  class="member-profile"alt="">
            {% else %}
            <img src="assets/em_member/Landing/img/about.png" class="img-fluid" alt="">
            {% endif %}
            
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content">
            <h3>{{logedinMember.prefix}}.{{logedinMember.full_name}}</h3>
            <p class="fst-italic">
              {{logedinMember.profession_specialization}}
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i>Employed At: {{logedinMember.place_of_employmentinstitution}}</li>
              <li><i class="bi bi-check-circle"></i>Email: {{email}}</li>
              <li><i class="bi bi-check-circle"></i>Phone: +251{{logedinMember.phone_number}}</li>
            </ul>
            <p>
          {{logedinMember.membership_type}} Member of Ethiopian Medical Association
            </p>
            <div class="updateprofile">
          <a href="/Membership" class="btn-get-started scrollto">Update Profile</a>
        </div>
          </div>
        </div>
        {% else %}
        <div class="updateprofile">
          <a href="/Membership" class="btn-get-started scrollto">Registor</a>
        </div>
        {% endif %}
      </div>
    </section><!-- End About Section -->
    
    <!-- ======= Counts Section ======= -->
    
<!-- 
    <section id="counts" class="counts">
      <div class="container">
        
        <div class="row counters">
          
          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
            <p>10 day's</p>
          </div>
          
          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
            <p>2 Hours</p>
        </div>
        
        <div class="col-lg-3 col-6 text-center">
          <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
          <p>3 minutes</p>
        </div>
        
        <div class="col-lg-3 col-6 text-center">
          <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
          <p>2 seconds</p>
        </div>
        
      </div>
<div class="dayleft text-center">
          <p>left until Membership expire !!</p>
        </div>
        
      </div>
    </section>End Counts Section -->
      <!-- ======= Services Section ======= -->
      <section id="services" class="services section-bg">
      <div class="container">

        <div class="section-title">
          <span>Up coming Events</span>
          <h2>Up coming Events</h2>
          <p>list of upcoming events </p>
        </div>

        

        <div class="row">
          {% set doc = frappe.get_all('Events',fields=['event_name','status','date','time','location','image'] ) %}
          {% for event in doc %}
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
              <div class="">
                <img src={{event.image}}  class="event-img"alt="">
              </div>
              <h4><a href="">{{event.event_name}} </a></h4>
              <p>Status : {{event.status}}</p>
              <p>Date : {{event.date}}</p>
              <p>Time : {{event.time}}</p>
              <p>Location : {{event.location}}</p>


              
              <h4><a>
                  BOOKED
              </a></h4>
            </div>
  <button class="event-button" onclick="bookEvent('{{event.event_name}}','{{frappe.session.user }}')" >Book Now</button>
  <!-- style="display:none" -->
          </div>
          {% endfor %}
          
          <!-- <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="">Event-2</a></h4>
              <p>description of event two</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4><a href="">Event-3</a></h4>
              <p>description of event three</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4><a href="">Event-4</a></h4>
              <p>description of event four</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-slideshow"></i></div>
              <h4><a href="">Event-5</a></h4>
              <p>description of event five</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-arch"></i></div>
              <h4><a href="">event-6</a></h4>
              <p>description of event six</p>
            </div>
          </div>
           -->
        </div>

      </div>
    </section><!-- End Services Section -->

   
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <span>Contact</span>
          <h2>Contact</h2>
          <p>reach us with any inquary</p>
        </div>

        <div class="row">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>kirkos Sub-City
                  Roosevelt street, In-front of Africa Union main gate</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>ethiopianmed@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+251 115 521776/+251 115 547982</p>
              </div>

              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6 mt-3 mt-md-0">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" required>
              </div>
              <div class="form-group mt-3">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->
  </main><!-- End #main -->
    <script>
        console.log('did i get to the script ')
        let item = document.querySelector('.membershipId');
        item.addEventListener('click',event=>{
          console.log('click event ');
          let id = document.querySelector('.showid')
           if(id.classList.contains('medapay-hide')){
                        
                        id.classList.add("medapay-show");
                      id.classList.remove("medapay-hide");
  
                          } else{
                    
                            id.classList.add("medapay-hide");
                      id.classList.remove("medapay-show");
  
                          }   })

                          //show certification

         document.querySelector('.certificate').addEventListener('click',event=>{
          console.log('click event ');
          let id = document.querySelector('.showcertificatoin')
           if(id.classList.contains('medapay-hide')){
                        
                        id.classList.add("medapay-show");
                      id.classList.remove("medapay-hide");
  
                          } else{
                    
                            id.classList.add("medapay-hide");
                      id.classList.remove("medapay-show");
  
                          }   })
           function bookEvent(event,email){
             console.log(event);
             console.log(email);


             frappe.call({
                      method: 'em_member.em_member.doctype.member.member.bookEvent',
                      args: {
                        req: {
                          event:event,
                          email:email

                        }
                      
                      },
                      callback:(r)=>{
                        console.log(r,'sucess with the payment ')
                    
                      },
                      erorr:(e)=>{
                        console.log(e,"error")
                      }
                    })
           }
                          


    </script>


{% endblock %}
