{% extends 'templates/landingpage_base.html'%}

{% block content %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Membership Profile </h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Membership Profile</li>
          </ol>
        </div>
        
      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <!-- here came the custom webform  -->
              <form>
               
                <div class="form-group">
                  <label for="prefixSelector">Prefix</label>
                  <select class="form-control" id="prefixSelector">
                    <!-- Prefix cannot be "('Prof',)". It should be one of "Dr", "Prof", "Mr", "Mrs", "Ms" -->
                    <option>Dr</option>
                    <option>Prof</option>
                    <option>Mr</option>
                    <option>Mrs</option>
                    <option>Ms</option>
                  </select>
                </div>
                
                <div class="form-group">
                  <label for="titleSelector">Title(Optional)</label>
                  <select class="form-control" id="titleSelector">
                  
                    <option>MD</option>
                    <option>MPH</option>
                    <option>PHD</option>
                    <option>MSC</option>
                    <option>others</option>
                    
                  </select>
                </div>
                <div class="form-group">
                  <label for="full_name">FullName *</label>
                  {% if logedinMember %}
                  <input class="form-control" id="full_name" type="text" value={{logedinMember.full_name}} placeholder="FullName">
                  {% else %}
                  <input class="form-control" id="full_name" type="text" placeholder="FullName">
                  {% endif %}
               </div>
                <div class="form-group">
                  <label for="genderSelector">Gender</label>
                  <select class="form-control" id="genderSelector">
                    <option>Male</option>
                    <option>Female</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="profilePicture">Upload Profile Picture</label><br/>
                  <input type="file" class="form-control-file" id="profilePicture" >
                </div>
                <div class="form-group">
                  <label for="phone_number">Phone Number *</label>
                  {% if logedinMember %}
                  <input type="number" class="form-control" id="phone_number" value=0{{logedinMember.phone_number}} placeholder="09********">
                  {% else %}
                  <input type="number" class="form-control" id="phone_number" placeholder="09********">
                  {% endif %}
                </div>
                <div class="form-group">
                  <label for="email">Email address *</label>
                  {% if logedinMember %}
                  <input type="email" class="form-control" id="email" value={{logedinMember.email}}  placeholder="name@example.com">
                  {% else %}
                  <input type="email" class="form-control" id="email" placeholder="name@example.com">
                  {% endif %}
                </div>
                <div class="form-group">
                  <label for="profession_specialization">Profession (Specialization)*</label>
                  {% if logedinMember %}
                  <input class="form-control" id="profession_specialization" type="text" value={{logedinMember.profession_specialization}} placeholder="Profession (Specialization)">
                  {% else %}
                  <input class="form-control" id="profession_specialization" type="text" placeholder="profession_specialization">
                  {% endif %}
               </div>
               <div class="form-group">
                <label for="place_of_employmentinstitution">Place of employment(institution)</label>
                {% if logedinMember %}
                <input class="form-control" id="place_of_employmentinstitution" type="text" value={{logedinMember.place_of_employmentinstitution}} placeholder="Profession (Specialization)">
                {% else %}
                <input class="form-control" id="place_of_employmentinstitution" type="text" placeholder="please enter your  institution of employment">
                {% endif %}
             </div>
                <div class="form-group">
                  <label for="membership">Membership type *</label>
                  <select class="form-control membership-select" id="membership">
                    <option>Regular</option>
                    <option>Corporate</option>
                    <option>Associate</option>
                    <option>Junior(Medical Students)</option>
                    <option>Honorable</option>
                    <option>NEDD</option>
                    <option>Lifetime</option>
                    <option>JDN</option>
                  </select>
                </div>
                <div class="form-group">
                <label for="fee">Membership fee amount</label>
                
                <input class="medapay-hide form-control" id="fee"type="text" value="Readonly input here…" readonly>
              </div>
                <div class="withmeda medapay-hide">
                <div class="form-group">
                  <label for="reference">Generate Payment reference</label>
                 
                  <input class="form-control" id="reference" type="text" placeholder="Readonly input here…" readonly>
                </div>
                
                <div>

                  <a href="#" type="button"  class="paywithmeda"  target="_blank" >Pay with MedaPay</a>
                </div>
              </div>  <div class="dollarAccount  medapay-hide form-group">

                <div>
                  <div class="portfolio-info">
                    <h3>EMA Dollar account detail information</h3>
                    <ul>
                      <li><strong>Bank Name:</strong>  Cooperative Bank of Oromia</li>
                      <li><strong>Branch Name: </strong>Abanebso brnach </li>
                      <li><strong>Account Name:</strong> Ethiopian Medical Association Bank Account#: 1011100039497</li>
                      <li><strong>SWIFT code/BIC: </strong> CBORETAA </li>
                      <li><strong>Bank Address: </strong>Addis Ababa, Ethiopia </li>
                      <li><strong>Receivers corresponding bank:</strong>  MSHQUS33XXX, MASHREQ Bank PSC, New York</li>
                      <li><strong>Intermediary bank account number: </strong> 70011228 </li>
                      <li><strong>Visit Other Pages :</strong>: <a href="https://www.ethiopianmedicalass.org/membership/types-of-membership/">Types of Membership - Ethiopian Medical Association</a></li>
                    </ul>
                  </div>
                </div>

                  <div>
                    <h4>Pay with Dollar Account 
                    </h4>
                    <label for="paymentRecipt">Attach Payment Receipt</label><br/>
                    <input type="file" class="form-control-file" id="paymentRecipt" >
                    <div>
                      
                      <a href="#" type="button" style="margin-top: 20px" class="paywithmeda sendReceipt ">Send Receipt</a>
                    </div>
                  </div>
                    

<!-- EMA Dollar account detail information
Bank Name: Cooperative Bank of Oromia
Branch Name: Abanebso brnach 
Bank Account Name: Ethiopian Medical Association Bank Account#: 1011100039497 
SWIFT code/BIC: CBORETAA 
Bank Address: Addis Ababa, Ethiopia 
Receivers corresponding bank: MSHQUS33XXX, MASHREQ Bank PSC, New York
Intermediary bank account number: 70011228 -->


                 
                </div>
              
              <div class="detail-section medapay-hide">
                <a id="details"></a>
                  <div class="form-group">
                    <label for="age">Age</label>
                    <input class="form-control" id="age" type="number"  placeholder="Age">
                  </div>
                    <div class="header"><p>Additional Contact</p></div>
                   
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="fullname">Additional Full Name </label>
                                <input id="fullname" type="text" name="fullname" class="form-control" placeholder="enter your fullname"  >
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="form_email">Additional Email </label>
                                <input id="form_email" type="email" name="email" class="form-control" placeholder="enter your email">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="form_phone">Additional Phone</label>
                                <input id="form_phone" type="tel" name="phone" class="form-control" placeholder="Please enter your phone number">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>
                    <div class="header"><p>Graduated from</p></div>
                    <div class="row">
                      <div class="col-sm-4">
                          <div class="form-group">
                              <label for="Institution">Institution </label>
                              <input id="Institution" type="text" name="Institution" class="form-control" placeholder="enter your Institution "  >
                          </div>
                      </div>
                      <div class="col-sm-4">
                          <div class="form-group">
                              <label for="Undergrade Contactuate ">Undergrade Contactuate  </label>
                              <input id="Undergrade Contactuate " type="text" name="Undergrade Contactuate " class="form-control" placeholder="enter your Undergrade Contactuate">
                          </div>
                      </div>
                      <div class="col-sm-4">
                          <div class="form-group">
                              <label for="Year of completion">Year of completion</label>
                              <input id="Year of completion" type="text" name="Year of completion" class="form-control" placeholder="Please enter your Year of completion">
                              <div class="help-block with-errors"></div>
                          </div>
                      </div>
                  </div>
                  <div class="form-group">
                    <label for="Educational_Credentials" ><p class="header">Educational Credentials</p></label><br/>
                    <input type="file" class="form-control-file" id="Educational_Credentials">
                  </div>
                  <div>

                    <a href="#" type="button" class="saveUpdate">save Update</a>
                  </div>




              </div>
              </form>


              <!-- end custom webform -->
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Minimum Required field</h3>
              <ul>
                <li><strong>Full Name :</strong> ex.xyz</li>
                <li><strong>Phone No :</strong> ex.09*****</li>
                <li><strong>Membership Type :</strong> ex.Associate</li>
                <li><strong>Visit Other Pages :</strong>: <a href="https://www.ethiopianmedicalass.org/membership/types-of-membership/">Types of Membership - Ethiopian Medical Association</a></li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>Welcome To EMA Membership Registration Form</h2>
              <p>
               once you fill the bare minimum, proceed and register by paying your membership fee which will be updated annually 
                 </p>
            </div>
            <div>

              <a href="#details" type="button" class="filldetail">fill details Information</a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->
  
  <!-- <script>  </script> -->
{% endblock %}
